{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>Delete Manufacturer</h1>
  <p>Are you sure, you want to delete Manufacturer {{ manufacturer.name }}?</p>
  <form action="{% url 'taxi:manufacturer-list'%}" method="get">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Cancel">
  </form>
  <br>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Yes, delete">
  </form>
{% endblock %}
